.close {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  background-color: rgb(226, 255, 183);
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul {
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

li {
  list-style: none;
}

h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

header {
  margin: 20px 0;
}

.input {
  font-size: 20px;
}

.btn-solid {
  color: #fff;
  border-top: 4px solid #48ecc4;
  border-right: 4px solid #0a5f4a;
  border-bottom: 4px solid #0f745b;
  border-left: 4px solid #8cf9de;
  border-radius: 0;
  background: #11a37f;
  font-size: 15px;
}

.btn-solid:hover {
  color: #fff;
  border-top: 4px solid #0f745b;
  border-right: 4px solid #8cf9de;
  border-bottom: 4px solid #48ecc4;
  border-left: 4px solid #0a5f4a;
}

#reset-number {
  margin-top: 50px;
}